:root {
    --primaryColor: #009eff;
    --secondColor: #0192ec;
    --separatorColor: #eee;
    --tableRowColor: rgb(250, 250, 250);
    --TopBarHeight: 50px;
    --BackColorFact: #eee;
    --ColorFact: #0192ec;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

/* @font-face {
    font-family: FontAwesome;
    src: url(/public/assets/fontawesome-free-5.14.0-web/webfonts/fa-regular-400.ttf);
} */
@font-face {
    font-family: ticketing_regular;
    src: url ("../fonts/ticketing_regular.ttf");


}

@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

html {
    background-color: var(--separatorColor);
    font-size: 14px;
    font-family: 'ticketing_regular', 'arial', 'sans-serif' !important;
    overflow-y: hidden;

}

/*TOBAR*/
.topbar {
    height: var(--TopBarHeight);
    background-color: var(--primaryColor);
}

.main {
    /* min-height: 100vh; */
    background-color: var(--separatorColor);
}

.mainContainer {
    /* display: grid;
    grid-template-columns: 210px 1fr; */
    min-width: 100%;
    display: flex;
    flex-direction: row;
    /*column-gap: 0.5rem;*/
    position: relative;
    overflow-y: hidden;
}

.mainContainer .lateral {
    /* display: grid;
    grid-template-columns: 210px 1fr; */
    width: 210px;
    display: block;
    /*column-gap: 0.5rem;*/
    height: calc(100vh - var(--TopBarHeight));
    overflow-y: hidden;
}

.subirBtn {
    display: none;
}

.mainContainer .bodyMain {
    /* display: grid;
    grid-template-columns: 210px 1fr; */
    width: calc(100vw - 210px);
    /*column-gap: 0.5rem;*/
    background-color: var(--separatorColor);
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    height: calc(100vh - var(--TopBarHeight));
    position: relative;
}

/* Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .mainContainer .lateral {
        position: absolute;
        display: none;
        height: calc(100vh - var(--TopBarHeight));
        overflow-y: scroll;
    }

    .mainContainer .bodyMain {
        /* display: grid;
        grid-template-columns: 210px 1fr; */
        width: 100vw !important;
        display: block;
        /*column-gap: 0.5rem;*/
        background-color: var(--separatorColor);
        height: 100vh;
        overflow-y: scroll;
        padding: 1rem;
        height: calc(100vh - var(--TopBarHeight));
        position: relative;
    }

    .subirBtn {
        display: flex;
        background-color: #0192ec;
        color: #fff;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 999;
        padding: 6px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width : 768px) {
    .mainContainer .lateral {
        position: absolute;
        display: none;
        height: calc(100vh - var(--TopBarHeight));
        overflow-y: scroll;
    }

    html {
        font-size: 13px;
    }

    .mainContainer .bodyMain {
        /* display: grid;
        grid-template-columns: 210px 1fr; */
        width: 100vw !important;
        display: block;
        /*column-gap: 0.5rem;*/
        background-color: var(--separatorColor);
        height: 100vh;
        overflow-y: scroll;
        padding: 0rem;
        height: calc(100vh - var(--TopBarHeight));
        position: relative;
    }

    .row,
    .card-body,
    .card,
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {

        padding: 5px !important;
    }

    .Editbuttons {
        opacity: 1;
    }

    .subirBtn {
        display: flex;
        background-color: #0192ec;
        color: #fff;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 999;
        padding: 6px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width : 1200px) {
    .mainContainer .lateral {
        /* display: grid;
        grid-template-columns: 210px 1fr; */
        width: 210px;
        display: block;
        /*column-gap: 0.5rem;*/
        height: calc(100vh - var(--TopBarHeight));
        overflow-y: hidden;
    }

    .mainContainer .bodyMain {
        /* display: grid;
        grid-template-columns: 210px 1fr; */
        width: calc(100vw - 210px);
        /*column-gap: 0.5rem;*/
        background-color: var(--separatorColor);
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 1rem;
        height: calc(100vh - var(--TopBarHeight));
        position: relative;
    }
}

.bodyContent {
    position: relative;
    min-height: 100%;
}

.showAnotherSucursal:first-child {
    font-weight: 600;
}

#nameSucursal {
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.gravado {
    border-radius: 50%;
    background-color: rgb(87, 253, 87);
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0 auto;
}

.inputGastos {
    text-align: right;
    margin-right: 20px;

}

.strongSugerido {
    position: relative;
    padding-right: 35px !important;
    min-width: 100px;
}

.strongSugerido div {
    border: 1px solid purple;
    padding: 0.25rem;
    width: 80%;
    top: 24px;
    left: -3px;
    position: absolute;
}

.BtnCalcularSugerido {
    position: absolute;
    height: 35%;
    width: 30px;
    top: calc(50% - 16px);
    right: 0;
    text-align: center;
    font-size: 1.6rem;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemLeftData {
    position: relative;
    min-width: 100px;
    text-align: center;
    padding-right: 35px !important;
}

.itemLeftDataBtn {
    position: absolute;
    height: 35%;
    width: 30px;
    top: calc(50% - 16px);
    right: 0;
    text-align: center;
    font-size: 1.6rem;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gastosLabel {
    min-width: 120px;
}

.inputWithStockBtn {
    max-width: 75px !important;
    min-width: 75px !important;
}

.inputWithStockBtn2 {
    max-width: 35px !important;
    min-width: 35px !important;
}

.inputWithStock {
    max-width: 150px !important;
    min-width: 100px !important;
    text-align: center;
}

.inputWithStock2 {
    max-width: 150px !important;
    min-width: 150px !important;
    text-align: center;
}

.loading {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.loading::before {
    content: "Cargando Datos";
    position: absolute;

}

.carousel-control-next-icon {
    min-height: 50px;
    min-width: 50px;
    background-image: url("/public/assets/img/arrow.png");
    transform: scaleX(-1);

}

.carousel-control-prev-icon {
    min-height: 50px;
    min-width: 50px;
    background-image: url("/public/assets/img/arrow.png");

}

.carousel-item.active {
    max-height: 70vh !important;
    width: 100%;
}

.carousel-item.active img {
    object-fit: cover;
    height: 100% !important;
    display: block;
}

.carousel-indicators li {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border: none;
}

button.btn svg {
    pointer-events: none;
}

.tooltipimgView {
    display: block;
    height: 60px;
    width: 50px;
    background-color: #fff;
    box-shadow: 0 4px 7px 0px rgba(0, 0, 0, .3);
    padding: 0.2rem;
    z-index: 10;
}

.tooltipimgView img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.noGravado {
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0 auto;
}

.habilitado {
    border-radius: 50%;
    background-color: rgb(87, 253, 87);
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0 auto;
}

.inhabilitado {
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0 auto;
}

.nuevoState {
    border-radius: 50%;
    background-color: rgb(186, 255, 194);
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0 auto;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.164);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.164);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c5c5c5;
}

.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.164);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.164);
    background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c5c5c5;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil img {
    display: block;
    max-width: 100%;
    width: 40%;
    border-radius: 50%;
}

.svg_codePritn {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    margin-bottom: -0.95rem;
    /* margin-bottom: -13px; */
    padding: 0;
    max-height: 150px;
    /* border-top: 1px dashed gray; */
    page-break-inside: avoid;
}

.textcolorhover label:hover {
    color: #9954bb !important;
    cursor: pointer;
}

/* RECUEPRAR PASSWORD */
.pass_show {
    position: relative
}

.pass_show .ptxt {

    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;

}

.pass_show .ptxt:hover {
    color: #333333;
}