.RemoveInputGastos {
    position: absolute;
    height: 100%;
    width: 36px;
    margin-left: 6px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #e9ecef;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #babec2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RemoveInputGastos:hover {  
    background-color: #dcdfe2;
    color: rgb(255, 255, 255);
}